<% layout("layouts/base") %>
<article class="prose prose-invert mx-auto">
  <h1>About Melissa Michaels</h1>
  <p>Urban-fantasy author, lover of all things nocturnal, currently plotting the
     next twist in the <em>Bloodborne Chronicles</em> saga.</p>
</article>
